* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=My+Soul&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}

.text-color-dark1 {
  color: rgba(19, 19, 19, 1);
}

.text-color-dark3 {
  color: rgba(114, 114, 114, 1);
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.brand {
  font-size: 2.3rem;
  font-weight: 700;
}

.nav-links {
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  color: rgba(66, 66, 66, 1);
  text-decoration: none;
}

.banner,
.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner section styles */
.banner {
  text-align: center;
}

.banner-content {
  max-width: 860px;
  text-align: center;
  margin: 20px auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  font-weight: 400;
  line-height: 26px;
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: #fff;
  padding: 20px 35px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.banner-images {
  width: 100%;
  border-radius: 8px;
}

/*  main section start now styles */
main > section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 70px;
}

.teams-container {
  justify-content: center;
  align-items: center;
}

.teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 30px;
  border-radius: 8px;
}

.teams-content {
  padding: 30px;
  margin-left: 76px;
}

.teams-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.teams-description {
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 26px;
}
#Features {
  color: rgba(255, 144, 14, 1);
}

/* Features you will love & enjoy section styles */
.features-section {
  margin-left: 20px;

}

.features-title {
  border-left: 5px solid rgba(255, 144, 14, 1);
  font-size: 2.8rem;
  font-weight: 700;
    padding: 12px;
}

.features-description {
  line-height: 26px;
}

.wrapper-architects {
justify-content: center;
align-items: center;
}


.architects-content {
  margin-top: 20px;
  padding: 30px;
  max-width: 585px;
  height: 175px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(211, 211, 211, 0.158);
  box-shadow: 0px 0px 11px 11px rgba(0, 0, 0, 0.06);

  border-radius: 8px;
}

.archtects-title {
  font-size: 1.3rem;
  font-weight: 400;
}

.banner-description {
  line-height: 26px;
}

.architects-img{
  width: 100%;
}

.btn-exprience {
padding: 40px 46px;
font-size: 3rem;
font-weight: 700;
margin-left: -100px;
margin-top: -100px;
}

.experience {
  color: #fff;
  font-size: 1rem;
}


/* some facts badge styles */

.some-facts{
margin-left: 12px;
}

.some-facts-description{
  width: 542px;
  height: 55px;

}

.some-facts-title{
font-size: 2.3rem;
font-weight: 600;
}


.wrapper-badge-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 124px;
margin-bottom: 20px;

}

.badge-content{
border: 1px solid rgba(255, 144, 14, 1);
justify-content: center;
align-items: center;
text-align: center;
padding: 10px;
width: 241px;
height: 241px;
border-radius: 8px;
}

.badge-number{
font-size: 2.8rem;
font-weight: 600;
}

.badge-description{
font-size: 1rem;
font-weight: 600;
}





  .sponsors-container{
  text-align: center;
  padding: 12px;
  }
  
  .sponsers-title{
margin-bottom: 12px;
font-size: 2.8rem;
font-weight: 700;
  }
  .sponsers-description{
 font-weight: 400;
 line-height: 26px;
  }
  
.wrapper-container-sopnsors{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 155px;
margin: 20px 0;
filter:grayscale(6);
}







/* media styles */
@media screen and (max-width: 576px) {
  .navbar,
  .teams-container,
  .wrapper-architects  {
    flex-direction: column;
  }
  .teams,
  .wrapper-badge-container {
    grid-template-columns: repeat(1, 1fr);
  }
 .wrapper-badge-container{
   margin-left: 60px;
 }

  .btn-exprience{
    margin: 0;
  }
}






/* media query for tablet */
@media screen and (min-width: 576px) and (max-width:992px){
.wrapper-badge-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-left: 150px;
  }
  .teams-content,
  .teams{
    margin: 0;
    margin-right: 12px;
    gap: 10px;
    padding: 0;
  }
}
